.page-film {
  display: flex;
  flex-direction: column;
  background: #1c1b1e;
  height: 100vh;
}

.films{
  margin-bottom: 2rem;
}

.texts {
  display: flex;
  justify-content: space-between;
  padding: 6rem 12rem;
  align-items: center;
}

.texts h1 {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texts button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: pink;
  border: none;
  padding: 3.2rem;
  height: 4.2rem;
  border-radius: 0.8rem;
}
