.page-film {
  display: flex;
  flex-direction: column;
  background: #1c1b1e;
  height: 100vh;
}

.filmData{
  max-height: 40rem;
  overflow: hidden;
  overflow: auto;
}

.texts {
  display: flex;
  justify-content: space-between;
  padding: 6rem 12rem;
  align-items: center;
}

.texts h1 {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texts button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: pink;
  border: none;
  padding: 3.2rem;
  height: 4.2rem;
  border-radius: 0.8rem;
}

.empty-list{
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
}

@media screen and (max-width: 640px){
  .texts{
    flex-direction: column;
    text-align: center;
  }

  .filmData{
    background: transparent;
  }
}