.back h3 {
  color: #ff859b;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.back {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-top: 0;
  padding: 0 14.6rem;
  height: 20rem;
  position: relative;
  text-align: center;
  background: rebeccapurple;
}

.back img {
  width: 1.6rem;
  height: 1.6rem;
}

.page-settings {
  background: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile img {
  width: 18.6rem;
  height: 18.6rem;
  border-radius: 9999.99rem;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.camera {
  border-radius: 9999.99rem;
  padding: 2.4rem;
  background: #ff859b;
  width: 2rem;
  position: relative;
  top: 10%;
  left: 54%;
  transform: translate(-50%, -50%);
  height: 2rem;
}

.profile {
  margin-top: 2rem;
}

.camera img {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0;
}

.email,
.senha,
.name {
  position: relative;
}

.email input,
.senha input,
.name input {
  padding: 0 3rem 0;
}

.email {
  margin-bottom: 2rem;
}

.email img,
.senha img,
.name img {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 1.8rem;
}

form input,
form button {
  width: 30rem;
  height: 5.6rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  border: none;
  margin: 0.5rem 0;
}

form button {
  width: 36rem;
  margin-left: 1.2rem;
  background: pink;
  color: #000;
  margin-top: 3.2rem;
}

.form-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  justify-content: center;
}

.form-settings input[placeholder] {
  margin-left: 1.2rem;
  color: white;
}

.submit {
  width: 36rem;
  /* margin-left: 1.2rem; */
  background: transparent;
  color: pink;
  border: none;
  margin-top: 4.2rem;
}

.hidden-input {
  display: none;
}

@media screen and (max-width: 640px) {
  form input, form button{
    max-width: 20rem;
    align-items: center;
    justify-content: center;
  }

  form button{
    max-width: 26rem;
  }

  .back{
    padding: 0 1rem;
  }
}